
<html>
    <head>
        <title>Java</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Sayur</div>
        <hr>
        <table border="1">
            <tr>
                <td>Nama sayur</td>
                <td><b th:text="${varSayuran}"></b></td>
                
                <td>Harga perkilo</td>
                <td><b th:text="${varHarga}"></b></td>
                
                <td>Jumlah dibeli</td>
                <td><b th:text="${varJumlah}"></b></td>
                
                <td>Jumlah pembayaran awal</td>
                <td><b th:text="${varPembayaranawal}"></b></td>
                
                <td>Jumlah diskon (%)</td>
                <td><b th:text="${jumDiskon}"></b></td>
                
                <td>Total Harga Diskon (Rp)</td>
                <td><b th:text="${disc}"></b></td>
                
                <td>Total Bayar untuk dibayar</td>
                <td><b th:text="${varTotal}"></b></td>
                
            </tr>
            </table>
    </body>
</html>
